@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1408694598_1141465.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1408694598_1141465.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1408694598_1141465.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1408694598_1141465.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1408694598_1141465.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-arrow-down:before {
  content: '\f02a9';
}

.icon-arrow-up:before {
  content: '\f02aa';
}

.icon-sort:before {
  content: '\f0297';
}

.icon-music:before {
  content: '\f0036';
}

.icon-play:before {
  content: '\f0298';
}

.icon-pause:before {
  content: '\f0299';
}

.icon-add:before {
  content: '\e600';
}

.icon-camera:before {
  content: '\e602';
}

.icon-left-arrow:before {
  content: '\e606';
}

.icon-right-arrow:before {
  content: '\e605';
}


/*
 * Image cropper
 */
.cropper {
  background: #363636;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-resizer {
  position: absolute;
}

.cropper-resizable-se,
.cropper-resizable-ne,
.cropper-resizable-nw,
.cropper-resizable-sw {
  width: 16px;
  height: 16px;
  position: absolute;
  border: 3px solid #eee;
  z-index: 10001;
}

.cropper-resizable-se {
  right: -1.5px;
  bottom: -1.5px;
  border-left: none;
  border-top: none;
  cursor: se-resize;
}

.cropper-resizable-ne {
  cursor: ne-resize;
  border-left: none;
  border-bottom: none;
  right: -1.5px;
  top: -1.5px;
}

.cropper-resizable-nw {
  cursor: nw-resize;
  border-right: none;
  border-bottom: none;
  left: -1.5px;
  top: -1.5px;
}

.cropper-resizable-sw {
  cursor: sw-resize;
  border-right: none;
  border-top: none;
  left: -1.5px;
  bottom: -1.5px;
}

.cropper-resizer img {
  opacity: 0.5;
  cursor: move;
}


.cropper-sample {
  position: absolute;
}

.cropper-sample-inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.cropper-sample-scissor {
  background: url(/assets/scissor-99392b55441f0699ad39ee3236aa9913.png) no-repeat;
  width: 32px;
  height: 20px;
  position: absolute;
  top: -18px;
  right: -13px;
}

.cropper-sample img {
  position: absolute;
  cursor: move;
  max-width: none;
}

.cropper-zoom-box {
  position: absolute;
  left: 5px;
  bottom: -20px;
}

.cropper-actions {
  position: absolute;
  right: 5px;
  bottom: -24px;
}

.cropper-action,
.cropper-action:visited {
  color: #fff;
  text-decoration: none;
}

.cropper-action:hover {
  color: #eee;
  text-decoration: underline;
}

.cropper-actions .left {
  float: left;
  margin-right: 10px;
}

.cropper-advanced {
  position: absolute;
  left: 5px;
  top: -20px;
  color: #ddd;
}

.cropper-advanced input {
  margin-left: 10px;
}

.cropper-line-t,
.cropper-line-r,
.cropper-line-b,
.cropper-line-l {
  background: #fff url(/assets/Jcrop-4c7ce776550f32eecda6151fa031afe2.gif) repeat;
  opacity: 0.7;
  position: absolute;
}

.cropper-line-t,
.cropper-line-b {
  overflow: hidden;
  height: 1px;
  width: 100%;
  left: 0;
}

.cropper-line-t {
  top: -1px;
}

.cropper-line-b {
  bottom: -1px;
}

.cropper-line-l,
.cropper-line-r {
  height: 100%;
  width: 1px;
  top: 0;
}

.cropper-line-l {
  left: -1px;
}

.cropper-line-r {
  right: -1px;
}

/**
 * Video templet player
 */
.controls {
  position: relative;
  height: 45px;
  background: #ebebeb;
}

.controls .progress {
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.controls .progress .bar,
.controls .progress .elapsed {
  height: 15px;
  margin: 15px 0 0 20px;
}

.controls .progress .bar {
  background: #fff;
}

.controls .progress .elapsed {
  position: absolute;
  top: 0;
  background: #ccc;
}

.controls .point {
  opacity: 0.3;
  position: absolute;
  top: 19px;
  width: 8px;
  height: 8px;
  background: #0859ac;
  border-radius: 50%;
}

.controls .playhead {
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  left: -13px;
  top: 9px;
  background: #fff;
  border-radius: 50%;
  border: 8px solid #0859ac;
}

.controls .play {
  cursor: pointer;
  float: left;
  width: 70px;
  height: 45px;
  line-height: 45px;
  color: #999;
  font-size: 24px;
  text-align: center;
}

.controls .time {
  float: right;
  width: 120px;
  height: 45px;
  line-height: 45px;
  color: #ccc;
  font-size: 18px;
  text-align: center;
}

.controls .time .now {
  color: #0859ac;
  font-weight: bold;
}

/*
 * bugle
 */
#bugle .error span {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#bugle .info span {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#bugle .warn span {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

#bugle {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#bugle .info span,
#bugle .error span,
#bugle .warn span {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid transparent;
}

#bugle .iconfont {
  font-size: 12px;
  margin-left: 0.5em;
  cursor: pointer;
}

.form {
  text-align: left;
}
.form label,
.form input,
.form select,
.form textarea {
  font-weight: normal;
  line-height: 24px;
  min-height: 24px;
}

.form select,
.form textarea,
.form input[type="text"],
.form input[type="password"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="week"],
.form input[type="number"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"] {
  display: inline-block;
  padding: 4px 10px;
  color: #303030;
  vertical-align: middle;
  border-radius: 8px;
}

.form textarea,
.form input[type="text"],
.form input[type="password"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="week"],
.form input[type="number"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"] {
  background-color: #ffffff;
  border: none;
}


.form input[type="radio"],
.form input[type="checkbox"] {
  line-height: normal;
  height: 14px;
  padding: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form input[type="file"],
.form input[type="image"],
.form input[type="submit"],
.form input[type="reset"],
.form input[type="button"],
.form input[type="radio"],
.form input[type="checkbox"] {
  width: auto;
}

.form textarea{
  resize: none;
  height: auto;
  overflow-y: auto;
}

.form select{
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #ABABAB;
}
.form select,
.form input[type="file"] {
  line-height: 30px;
}
.form select[multiple],
.form select[size] {
  height: auto;
}

.form input:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: #bcbcbc;
}
.form input:-ms-input-placeholder,
.form :-ms-input-placeholder {
  color: #bcbcbc;
}
.form input::-webkit-input-placeholder,
.form input::-ms-input-placeholder,
.form textarea::-webkit-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #bcbcbc;
}

.form input[disabled],
.form select[disabled],
.form textarea[disabled],
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.form input[type="radio"][disabled],
.form input[type="checkbox"][disabled],
.form input[type="radio"][readonly],
.form input[type="checkbox"][readonly] {
  background-color: transparent;
}

.form select:focus,
.form input[type="file"]:focus,
.form input[type="radio"]:focus,
.form input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto -ms-focus-ring-color;
  outline-offset: -2px;
}

.form input:invalid, select:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form {
  font-size: 14px;
  line-height: 1.5;
}

.form ul {
  list-style: none;
}

.form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.form li {
  margin: 5px 0;
}

.form input,
.form select,
.form textarea{
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
}
.form input[type="radio"],
.form input[type="checkbox"] {
  height: 14px;
}

.form textarea{
  height: auto;
}

.form select[multiple],
.form select[size] {
  height: auto;
}

.form .form-fieldset {
  border: 1px solid #BBC7D2;
  margin-bottom: 25px;
  padding: 10px;
}
.form .form-fieldset legend {
  padding: 0 10px;
  margin-left: 10px;
  font-size: 24px;
}

.form > p {
  margin-bottom: 14px;
}
.form fieldset > p {
  margin-bottom: 20px;
}

.field {
  margin: 20px 0;
  border: 1px solid #ebebeb;
  position: relative;
  border-radius: 8px;
}

.field:focus {
  border-color: #3498db;
}

.field:after {
  content: '\0020';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.field .error {
  width: 100%;
  font-size: 12px;
  color: #d51b00;
  text-align: right;
}

[class*=".ui-field-label"] {
  display: block;
  padding-top: 5px;
}
.field-label-right {
  text-align: right;
}

.form .field-block {
  display: block;
  width: 100%;
}

.form-actions{
  text-align: center;
}
.form-actions button {
  margin-right: 5px;
}

.inputform-large,
.selectform-large {
  height: 50px;
}
.inputform-medium,
.selectform-medium {
  height: 40px;
}
.inputform-small,
.selectform-small {
  width: 90px;
}
.inputform-mini,
.selectform-mini {
  width: 45px;
}
/*
 *(=) require _iconfont
 *(=) require _cropper
 *(=) require _player
 *(=) require _bugle
 *(=) require _form
 */

/*
 * Pebbles
 */
.tooltip {
  background-color: #FFF;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.18);
  box-shadow: 0 0 10px rgba(0,0,0,.18);
  border: 1px solid #ddd\9;
  border-collapse: separate;
}

.tooltip-overlay {
  position: fixed;
}

.tooltip-arrow-top {
  background: url(http://img04.taobaocdn.com/tps/i4/T1vHWdXt8dXXaLsGbb-23-19.png) no-repeat;
  _background: url(http://img01.taobaocdn.com/tps/i1/T1srWfXqpXXXaLsGbb-23-19.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 19px;
  position: absolute;
  left: 50%;
  top: -19px;
  top: -18px\9;
  margin-left: -11px;
}

.tooltip .content {
  padding: 2px 5px;
}


/*
 * Pages:
 *
 * - /creations/new
 * - /creations/:id/edit
 * - /diamond/creations/:new
 */
html, body {
  height: 100%;
  width: 100%;
}

.content-editor {
  color: #424242;
  overflow: hidden;
}

.content-editor h3 {
  font-size: 120%;
}

.main {
  padding-right: 300px;
  height: 100%;
  text-align: center;
  position: relative;
}

.main .body {
  overflow: auto;
  height: 100%;
}

.main .title-bar {
  text-align: left;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 1em;
}

.main .title-bar h3 {
  margin-bottom: 1.5em;
}

.main .candidate {
  float: left;
  border: 1px solid transparent;
  margin-right: 1em;
}

.main .candidate .pic {
  display: inline-block;
  border: 1px solid #ebebeb;
}

.main .candidate:hover,
.main .candidate:hover .pic {
  border-color: #f40;
}

.main .progress-swf {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.main .progress-swf object {
  display: inline-block;
}

.templet-box {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 140px;
}

.templet-box .desc {
  display: inline-block;
}

.templet-box .desc dt,
.templet-box .desc dd {
  color: #777;
  float: left;
}

.templet-box iframe {
  margin-left: auto;
  margin-right: auto;
}

.aside {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
}

.aside .body {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.aside .title-bar {
  padding-top: 68px;
  padding-right: 1em;
  padding-left: 1em;
}

.aside .title-bar h3 {
  margin-bottom: 1.5em;
}

.aside .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.aside .footer .btn {
  margin: 1em;
}

.aside .editor {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 58px;
  max-width: 255px;
}

.aside .editor .model {
  width: 100%;
}

.aside .collection,
.aside .mixed {
  /*overflow-x: hidden;*/
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-top: 20px;
}

.aside .model {
  margin-top: 1em;
  margin-bottom: 1em;
}

.aside .model:first-child {
  margin-top: 0;
}

.aside .collection .model,
.aside .mixed .model {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 14px;
}

.aside .collection .content-wrapper,
.aside .mixed .content-wrapper {
  overflow-x: hidden;
  height: 100%;
  margin: 0 10px;
}
.aside .collection .triggers {
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  /*margin-top: 14px;*/
  /*margin-bottom: 14px;*/
  position: absolute;
  top: -14px;
  margin-left: 10px;
}

.aside .collection .frames,
.aside .mixed .frames {
  margin-top: 14px;
  margin-bottom: 14px;
}

.aside .collection .frames .dib {
  margin-right: 20px;
}
.aside .collection:first-child .triggers {
  margin-top: 0;
}

.aside .collection .trigger {
  font-size: 14px;
  width: 26px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  cursor: pointer;
  background-color: white;
}

.aside .collection .trigger.current {
  background: #ececec;
}

.aside .collection .frames,
.aside .mixed .frames {
  -webkit-transition: 0.2s margin-left;
  transition: 0.2s margin-left;
}

.aside .mixed .radio {
  float: left;
  margin-right: 1em;
  margin-left: 0.1em
}

.aside .mixed .radios {
  margin-bottom: 10px;
  position: absolute;
  top: -14px;
  background-color: white;
  padding: 0 5px;
  left: 10px;
}

.focused .image-editor .dropbox .btn-image {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.image-editor {
  height: 50px;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}

.image-editor .thumbnail {
  width: 50px;
  height: 50px;
  display: table-cell;
  font: normal 12px/1.5 arial;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background: url(/assets/thumb-30f96b094bc34aacfcb4ee2138e1c826.png) -1px -1px;
  border-right: 1px solid #ebebeb;
}

.image-editor .thumbnail img {
  width: inherit;
  max-width: auto;
}

.ie6 .image-editor .thumbnail,
.ie7 .image-editor .thumbnail {
  display: block;
  font-size: 44px;
}

.image-editor .dropbox {
  position: absolute;
  left: 50px;
  top: 10px;
  width: 170px;
  height: 50px;
  text-align: center;
}

.image-editor .dropbox .size {
  font-size: 90%;
  color: #999;
  display: inline-block;
  margin-right: 1em;
}

.image-editor .dropbox .btn-image {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ebebeb;
  width: 70px;
  height: 22px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  border-radius: 10px;
}

.tiles h4 {
  font-size: 110%;
}

.tiles .tile {
  border: 1px solid transparent;
  text-align: center;
  margin-bottom: 5px;
}

.tiles .tile-body {
  display: block;
  width: 51px;
  border: 1px solid #ebebeb;
}

.tiles .tile .iconfont:before {
  font-size: 20px;
  color: #999;
}

.tiles .tile .label {
  display: block;
  height: 22px;
  line-height: 22px;
  background: #f0f0f0;
  color: #7d7d7d;
  overflow: hidden;
}

.tiles .selected,
.tiles .selected .tile-body {
  border-color: #003fa1;
}


.video-editor h4 {
  font-size: 110%;
}

.video-editor .tile {
  cursor: default;
}

.video-editor .tile-body {
  width: 80px;
  min-height: 48px;
  position: relative;
}

.video-editor .video-play {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -10px;
}

.video-editor .cover {
  height: 48px;
  overflow: hidden;
  background: #000;
}

.video-editor .tile .iconfont:before {
  color: #cdcdcd;
}

.video-editor .video-play:hover .iconfont:before {
  color: #fff;
}

.video-editor .placeholder {
  display: inline-block;
  height: 40px;
}

.video-editor .tile .icon-camera:before {
  color: #cdcdcd;
}

.video-editor .tile:nth-child(3n) {
  margin-right: 0;
}


.paginator {
  text-align: right;
}

.paginator .disabled {
  color: #ccc;
}

.paginator .previous,
.paginator .next {
  cursor: pointer;
}

.paginator .previous {
  margin-right: 0.5em;
}

.paginator .next {
  margin-left: 0.5em;
}

.aside .form .select-field .field-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  cursor: default;
  padding: 10px;
  margin-top: 6px;
}

.aside .form .select-field .field-block.hidden {
  display: none;
}

.aside .form .select-field .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0;
  border-color: #7f8c8d transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
}

.aside .form .select-field.open .triangle {
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #7f8c8d;
}

.select-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF #EBEBEB #EBEBEB;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}

.select-dropdown.show {
  display: block;
}

.aside .form .select-field .select-dropdown {
  display: none;
}

.select-dropdown .select-dropdown-item {
  padding: 4px 6px;
  cursor: pointer;
}

.select-dropdown .select-dropdown-item:hover {
  background-color: #2F77DB;
  color: white;
}

.colorgroup {
  font-size: 14px;
  color: #3579b5;
  padding: 5px 0;
}

.colorgroup .item {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 10px;
  border-radius: 20px;
}

.colorgroup .item:hover .correct:before {
  content: '\e607';
}

.colorgroup .correct {
  position: relative;
  top: 7px;
  left: 7px;
  color: #ffffff;
}

.colorgroup .selected .correct:before {
  content: '\e607';
}

.select-color {
  font-size: 16px;
  color: #666666;
  margin: 15px 0px 25px 10px;
}

.aside .field-label {
  /*padding: 10px 0;*/
  color: #7f8c8d;
  display: block;
  position: absolute;
  top: -0.7em;
  background-color: white;
  left: 10px;
  padding: 0 5px;
  margin-left: -5px;
}

.aside .field.hidden {
  display: none;
}

.aside .collection .field,
.aside .mixed .field {
  border: 1px solid white;
  border-top: 1px solid #ebebeb;
  border-radius: 0;
}

.aside .collection .field.text-field.no-label,
.aside .mixed .field.text-field.no-label {
  border: 1px solid #ebebeb;
}

.aside .field:hover,
.aside .field:focus {
  border: 1px solid #3498db !important;
}

.aside .field:hover .field-label {
  color: #3498db;
}